/* line 1, ./scss/style.scss */
body {
  background: #C21A0C;
}

/* line 5, ./scss/style.scss */
.drk-logo {
  background-image: url("../img/logo-drk.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

/* line 12, ./scss/style.scss */
.menu {
  background: rgba(255, 255, 255, 0.3);
  padding-top: 10px;
  padding-left: 33px;
  font-size: 18px;
  margin-top: 20px;
  height: 45px;
  text-align: center;
  border-radius: 10px;
}
@media (max-width: 768px) {
  /* line 12, ./scss/style.scss */
  .menu {
    border-radius: 0px;
  }
}
/* line 32, ./scss/style.scss */
.menu a {
  padding-right: 0.5%;
  color: white;
}

/* line 38, ./scss/style.scss */
.logo {
  padding-top: 50px;
  color: white;
  text-align: center;
}
/* line 43, ./scss/style.scss */
.logo img {
  width: 100%;
}
/* line 47, ./scss/style.scss */
.logo .logo-text {
  text-align: center;
  padding-top: 10px;
}
/* line 51, ./scss/style.scss */
.logo .logo-text .row {
  font-size: 60px;
}
/* line 54, ./scss/style.scss */
.logo .logo-text .author {
  font-size: 25px;
}

/* line 60, ./scss/style.scss */
.mc-caption {
  padding-top: 130px;
  color: white;
  text-align: center;
  font-size: 60px;
}
@media (max-width: 768px) {
  /* line 60, ./scss/style.scss */
  .mc-caption {
    padding-top: 60px;
    font-size: 35px;
  }
}

/* line 71, ./scss/style.scss */
.food {
  background: white;
  border-radius: 8px;
  text-align: center;
}
@media (max-width: 768px) {
  /* line 71, ./scss/style.scss */
  .food {
    border-radius: 0px;
  }
}
/* line 85, ./scss/style.scss */
.food .item img {
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
}
@media (max-width: 992px) {
  /* line 85, ./scss/style.scss */
  .food .item img {
    width: 80%;
  }
}
/* line 93, ./scss/style.scss */
.food .item p {
  font-size: 20px;
  padding-bottom: 20px;
}

/* line 105, ./scss/style.scss */
.drink {
  display: none;
}

/* line 109, ./scss/style.scss */
.fries {
  display: none;
}
