/* line 3, ./scss/style.scss */
body {
  background: #C21A0C;
}

/* line 7, ./scss/style.scss */
.drk-logo {
  background-image: url("../img/logo-drk.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

/* line 14, ./scss/style.scss */
.menu {
  background: rgba(255, 255, 255, 0.3);
  padding-top: 10px;
  padding-left: 33px;
  font-size: 18px;
  margin-top: 20px;
  height: 45px;
  text-align: center;
  border-radius: 10px;
}
@media (max-width: 768px) {
  /* line 14, ./scss/style.scss */
  .menu {
    border-radius: 0px;
  }
}
/* line 34, ./scss/style.scss */
.menu a {
  padding-right: 0.5%;
  color: white;
}

/* line 40, ./scss/style.scss */
.logo {
  padding-top: 50px;
  color: white;
  text-align: center;
}
/* line 45, ./scss/style.scss */
.logo img {
  width: 100%;
}
/* line 49, ./scss/style.scss */
.logo .logo-text {
  text-align: center;
  padding-top: 10px;
}
/* line 53, ./scss/style.scss */
.logo .logo-text .row {
  font-size: 60px;
}
/* line 56, ./scss/style.scss */
.logo .logo-text .author {
  font-size: 25px;
}

/* line 62, ./scss/style.scss */
.mc-caption {
  padding-top: 130px;
  color: white;
  text-align: center;
  font-size: 60px;
}
@media (max-width: 768px) {
  /* line 62, ./scss/style.scss */
  .mc-caption {
    padding-top: 60px;
    font-size: 35px;
  }
}

/* line 73, ./scss/style.scss */
.mc-list {
  color: white;
  font-size: 60px;
}
@media (max-width: 768px) {
  /* line 73, ./scss/style.scss */
  .mc-list {
    font-size: 35px;
  }
}

/* line 81, ./scss/style.scss */
.food {
  background: white;
  border-radius: 8px;
  text-align: center;
}
@media (max-width: 768px) {
  /* line 81, ./scss/style.scss */
  .food {
    border-radius: 0px;
  }
}
/* line 94, ./scss/style.scss */
.food .item {
  border-color: #C21A0C;
  border-style: solid;
  border-width: 0px;
}
/* line 99, ./scss/style.scss */
.food img {
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
}
@media (max-width: 992px) {
  /* line 99, ./scss/style.scss */
  .food img {
    width: 80%;
  }
}
/* line 107, ./scss/style.scss */
.food p {
  font-size: 20px;
  padding-bottom: 20px;
}

/* line 118, ./scss/style.scss */
#drink {
  display: none;
}

/* line 122, ./scss/style.scss */
#fries {
  display: none;
}

/* line 126, ./scss/style.scss */
#done {
  display: none;
}
