body{
	background: #C21A0C;
}

.drk-logo{
    background-image: url("../img/logo-drk.png");
    background-repeat: no-repeat;
    background-position: center center;
	height: 100vh;
}

.menu{
	background: rgba(100%, 100%, 100%, 0.3);
	padding-top: 10px;
	padding-left: 33px;
	font-size: 18px;
	margin-top:20px;
	height: 45px;
	text-align:center;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	@media (max-width: 768px) {
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}


	a{
	padding-right: 0.5%;
	color: white;
	}
}

.logo{
	padding-top:50px;
	color: white;
	text-align:center; 
	
	img{
		width: 100%;
	}

	.logo-text{
		text-align: center;
		padding-top: 10px;

		.row{
			font-size: 60px;
		}
		.author{
			font-size: 25px;	
		}
	}
}

.mc-caption{
	padding-top: 130px;
	color: white;
	text-align: center;
	font-size: 60px;
	@media (max-width: 768px) {
		padding-top: 60px;
		font-size: 35px;
	}
}

.food{
	background: white;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	text-align: center;
	
	@media (max-width: 768px) {
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}

	.item{
		img{
			padding-top: 20px;
			padding-bottom: 10px;
			width: 100%;
			@media (max-width: 992px) {
				width: 80%;
			}
		}
		p{
			font-size: 20px;
			padding-bottom: 20px;
		}
	}
}


#ham{
	// display: none;
}

#drink{
	display: none;
}

#fries{
	display: none;
}

#done{
	display: none;
}